body {
  background-color: #041423;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  color: white;
  
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style the range input (the slider) */
input[type="range"] {
  -webkit-appearance: none; /* Remove default appearance */
  width: 100%; /* Full width */
  height: 1px; /* Height of the slider */
  background: white; /* White track */
  border-radius: 5px; /* Round the track edges */
  outline: none; /* Remove the outline */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px; /* Larger width for the thumb */
  height: 22px; /* Larger height for the thumb */
  border-radius: 50%;
  background-color: black; /* Inside of the thumb */
  border: 5px solid #b7832f; /* Thicker gold border */
 /* Soft glow with gold shadow effect */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: black;
  border: 5px solid #b7832f;
 /* Same shadow for Firefox */
  cursor: pointer;
}

/* Hover effect for the thumb */
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: black;
  /* border-color: #f7e27b; Slightly lighter gold on hover */
  box-shadow: 0 0 8px 5px rgba(183, 131, 47, 0.7); /* Stronger glow on hover */
}
